@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --main-bg-color: rgb(161, 210, 112);
  --font1: "Inter", serif;
  --font2: "Inter", serif;
}
.font1 {
  font-family: var(--font1);
}
.font2 {
  font-family: var(--font2);
}

.max-width-1 {
  max-width: 80vw;
}
.max-width-2 {
  max-width: 60vw;
}
.m-auto {
  margin: auto;
}
.my-2 {
  margin-bottom: 35px;
  margin-top: 35px;
}
.btn {
  padding: 0px 15px;
  border: 2px solid black;
  border-radius: 6px;
  font-family: var(--font1);
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  columns: white;
  background-color: var(--main-bg-color);
}

.form-input {
  padding: 0px 10px;
  font-size: 16px;
  border: 2px solid black;
  border-radius: 4px;
  margin: 0 4px;
  font-family: var(--font1);
}
.form-box input, textarea {
  width: 52vw;
  padding: 0px 7px;
  margin: 7px 0;
  border:2px solid rgb(49, 32, 49);
  border-radius: 5px;
 font-size: 18px;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.mx-1{
  margin-left:23px;
  margin-right: 23px;
}
.center{
  text-align: center;

}
